body{
    background-color: aquamarine;
}

.container div:nth-child(1){
    background-color: brown;
    order: 4;
}

.container div:nth-child(2){
    background-color: royalblue;
    order: 1;
}

.container div:nth-child(3){
    background-color: blueviolet;
    order: 2;
}

.container div:nth-child(4){
    background-color: olive;
    order: 5;
}

.container div:nth-child(5){
    background-color: salmon;
    order: 6;
}

.container div:nth-child(6){
    background-color: goldenrod;
    flex-shrink: 5;
    order: 3;
}

.container div{
    width: 50px;
    padding: 50px;
    color: white;
    text-align: center;
    font-size: 50pt;
    font-weight: bolder;
    margin: 10px;
}

.container div:hover{
    background-color: orangered;
}

.container {
    height: 400px;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}