@import url(http://fonts.googleapi.com/css?family=Nunito+Sans);

body{
    background-color: aquamarine;
}

.two-columns{
    column-count: 2;
}

img{
    float: right;
    padding: 15px;
}

.container{
    display: flex;
}

.column-1{
    margin-right: 20px;
}

.container-manuel{
    background-color: cadetblue;
}

.manual-one{
    width: 49%;
}

.manual-two{
    position: relative;
    width: 49%;
    bottom: 580px;
    left: 926px;
}

h1, h2, h3, p{
    font-family: "Nunito Sans", Tahoma, Geneva, serif;
}