* {
    box-sizing: border-box;
  }
  
  html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
  
  html, input {
    font-family:
      "HelveticaNeue-Light",
      "Helvetica Neue Light",
      "Helvetica Neue",
      Helvetica,
      Arial,
      "Lucida Grande",
      sans-serif;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .box{
    background-color: tan;
    margin: auto;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 350px;
    padding: 20px;
    margin: 20px;
}

.buttonDiv{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.description{
    text-align: left;
    padding-top: 20px;
}

canvas{
    border: 2px solid;
    background-color: #ffffff;
}

h1{
    text-align: center;

}

h2{
    text-align: center;

}

h3{
    text-align: center;
}

.grid{
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-column-gap: 10px;
   grid-row-gap: 10px;         
   height: 800px;
}

.item {
   background-color: rgba(255,255,255,0.8);               
   border: 1px solid rgba(0,0,0,0.8);
   text-align: center;
   margin-left: auto;
}   

.itemGrid {
   grid-row: 1/3;               
   grid-column: 1;  
}

.itemOptionsGrid{
    grid-row: 1/3;
    grid-column: 2;
}                   
   
.settlementGrid {              
   grid-row: 1/3;    
   grid-column: 3;                  
}

.tavernGrid{
    grid-row: 1;
    grid-column: 4;
}

.characterGrid{
    grid-row: 2;
    grid-column: 4;
}