
<div class="box grid">
  <div class="container item itemGrid">
    <h1>Item Generator</h1>
    <canvas class="canvas" width="300" height="300" #canvas></canvas>
    <input type="button" value="generate" #generateItem (click)="generateItems()">
    <div class = "description" #itemDescription></div>
  </div>    

  <div class="container item itemOptionsGrid">
      <h1>Item Options</h1> 
      <h3>Rarity</h3>
      <select class="rarities" #rarityOptions>
          <option selected value="-1">Random</option>
      </select>
      <h3>Effect</h3>
      <select class="effects" #effectOptions>
          <option selected value="-1">Random</option>
      </select>
      <h3>Item Type</h3>
      <select class="items" #itemOptions>
          <option selected value="-1">Random</option>
      </select>
  </div>

  <div class="container item settlementGrid">
    <h1>Settlement Generator</h1>
    <input type="button" value="generate" #generateSettlement (click)="generateSettlements()">
    <div class = "description" #settlement></div>
  </div>  

  <div class="container item tavernGrid">
    <h1>Tavern Name Generator</h1>
    <input type="button" value="generate" #generateTavern (click)="generateTaverns()">
    <h2 #tavern>Name</h2>
  </div>  

  <div class="container item characterGrid">
    <h1>Character Name Generator</h1>
    <input type="button" value="generate" #generateCharacter (click)="generateCharacters()">
    <h2 #character>Name</h2>
  </div>  
</div>

