<span *ngIf="isLog">{{message}}</span>
<span *ngIf="isMessage" class="username" [style.color]="color">{{username}} : &nbsp;</span>
<span *ngIf="isMessage" class="messageBody" [style.color]="color">{{message}}</span>